

body{
    background-color: rgb(243, 211, 152);
}

h1{
    font-family: Poppins;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-bottom: 28px;
    color: white;
}

.bloque{
    width: 50%;
    background-color: rgb(47, 68, 77);
    margin: auto;
    padding: 28px;
    border-radius: 10px;
    border: 2px solid rgb(47, 68, 77);
}

label{
    border-bottom: 2px solid beige;
    border-radius: 1px;
    font-family: Poppins; 
}

img{
    position: absolute;
    
    right: 355px;
    border:1px solid  white;
    border-radius: 4px;
}

label b{
    font-size: 24px;
}

.datosPersonales{
    border: 2px solid rgb(127, 218, 190);
    border-radius: 5px;
    
    background-color: rgb(127, 218, 190);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.datosPersonales p{
    margin: 4px 0;
    padding-top: 5px;
    
}

.datosPersonales1{
    margin-bottom: 100px;
}

b{
    font-size: 18px;
    font-family: Poppins;
}

p{
    margin-top: 10px;
    font-size: 18px;
    font-family: Poppins;
}

.estudiosRealizado{
    border: 2px solid rgb(253, 184, 176);
    border-radius: 5px;
    background-color: rgb(253, 184, 176);
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.experienciaLaboral{
    border: 2px solid rgb(129, 221, 212);
    background-color: rgb(129, 221, 212);
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

li{
    font-size: 18px;
    font-family:Poppins;
}

.capacitacion{
    border: 2px solid #F3BFB3;
    background-color: #F3BFB3;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.referenciasPersonales{
    border: 2px solid #97C1A9;
    background-color: #97C1A9;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}



.referencia{
    border: 2px solid #CCE2CB;;
    border-radius: 5px;
    margin-top: 12px;
    background-color: #CCE2CB;
    
    padding-left: 7px;
}

